<!DOCTYPE html>
<!--thymeleaf toevoegen aan de pagina-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <!--voor mobile altijd interessant-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>
<body>
<h1>It's alive</h1>
<p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>

<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
        </tr>
    </thead>
    <tbody>
    <!--voor elk product dus for each zie uitwerking hieronder-->
        <tr th:each="product:${all}">
            <td th:text="${product.name}"> </td>
            <td th:text="${product.price}"> </td>

        </tr>

    </tbody>



</table>

</body>
</html>